name: Linux Nighlty

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

env:
  TARGET: acftool

jobs:
  build:
    name: Build Linux nighlty
    runs-on: ubuntu-24.04
    timeout-minutes: 15

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Install toolchain
        run: |
          set -euo pipefail
          sudo apt update
          sudo apt install -y --no-install-recommends \
            build-essential

      - name: Build Linux binary
        run: |
          set -euo pipefail
          make

      - name: Upload Linux build artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.TARGET }}-linux
          path: ${{ env.TARGET }}
          if-no-files-found: error
